.navbar{
    background-color: rgb(148, 5, 117);
}
.navbar-brand{
    color:white;
    font-size: 30px;
}
.nav{
    color:rgb(148, 5, 117);
    font-size: 20px;
    
}
.foto{
    width: 300px;
    height: 350px;
    border-radius: 70px;
    box-shadow: 10px 10px 10px rgb(148, 5, 117);
}
.row-c{
    background-color: rgb(148, 5, 117);
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    color: white;
    margin-top: 100px;
}
.col{
    display: flex;
    justify-content: center;
}
.card-title{
    display: flex;
    justify-content: center;
    color: white;
}
.card-text{
    color: white; 
}
.card-body{
    background-color: rgb(148, 5, 117);
}
.footer{
    background-color: rgb(148, 5, 117);
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    margin-top: 20px;
    height: 80px;
}
.portafolio{
    font-size: 40px;
}
.row{
    margin: 100px;
    justify-content: center;
}
.row__1{
    margin: 50px;
}
.card-header{
    display: flex;
    justify-content: center;
    background-color: rgb(148, 5, 117);
}
.informacion{
    font-size: 20px;
    color: white;
}
